.wbs-page{
	font-size: 0.65em;
    .wbs_row{
        height: 28px;
        max-height: 28px;
        overflow: hidden;
        .col{
            & + .col{
                margin-left: -1px
            }
        }
        .wbs_col{
            padding: 0;
            margin: 0;
            width: 28px;
            max-width: 28px;
            text-align: center;
            height: 28px;
            max-height: 28px;
            line-height: 28px;
            &.mid-line{
                position: relative;
                &::after{
                    content: '';
                    top: 50%;
                    left: -1px;
                    height: 2px;
                    background: #0d6efd;
                    width: calc(100% + 2px);
                    position: absolute;
                }
            }
            &.config-onfly{
                &:hover{
                    position: relative;
                    &::after{
                        position: absolute;
                        cursor: pointer;
                        top: 0; left: 0;
                        width: 100%; height: 100%;
                        background: bisque;
                        text-align: center;
                        content: "\f3e5";
                        display: inline-block;
                        font-family: bootstrap-icons !important;
                        font-style: normal;
                        font-weight: normal !important;
                        font-variant: normal;
                        text-transform: none;
                        vertical-align: -.125em;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;

                    }
                }
            }
        }
        & + .wbs_row {
            margin-top: -1px;
        }
    }
    .text-input{
        border: 0;
        width: 100%;
        height: 100%;
        outline: none;
    }
    .calendar-input{
        border: 0;
        outline: none;
        padding: 4px;
        width: 120px;
    }
    .btn-up{
        margin-right: 2px;
    }
    .btn-add, .btn-up, .btn-down{
        border: 1px solid #ccc;
        width: 16px; height: 16px;
        text-decoration: none;
        text-align: center;
        vertical-align: middle;
        display: inline-block;
    }
    .editable-icon{
        position: relative;
        &::after{
            position: absolute;
            top: 2px;
            right: 2px;
            font-size: 8px;
            content: "\f4c8";
            display: inline-block;
            font-family: bootstrap-icons !important;
            font-style: normal;
            font-weight: normal !important;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            vertical-align: -.125em;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            z-index: 1;
        }
    }
    .text-sm{
        font-size: 0.6em;
    }
    .select{
        outline: none;
        background: transparent;
        &:focus{
            outline: none;
        }
    }
}